DISCORD_TOKEN=
DISCORD_APPLICATION_CLIENT_ID=
DISCORD_CHANNEL_ID=
DISCORD_ADMIN_NAME=
DISCORD_ADMIN_USER_NAME=
DISCORD_LOCKING_D_SERVER_ID=
EC2_INSTANCE_ID=
EC2_INSTANCE_REGION=
EC2_SG_ID=
RCON_PASSWORD=
RCON_HOST=
RCON_PORT=
GAME=